{{> head }}


  {{> navbar}}
  <div class="row">
      <div class="col-8">
          <h1>Montaña</h1>
          <p>Ésta es una montaña nevada</p>
      </div>

      <div class="col-4">
          <img src="assets/img/montaña.jpg" class="img-thumbnail">
      </div>
  </div>

  {{> footer}}